{% extends "base.html" %} {% block content %}
<div class="max-w-2xl mt-14 lg:mt-0">
  <h2 class="text-3xl font-extrabold text-blue-900 mb-8">Account Settings</h2>

  <div
    class="bg-white shadow-lg rounded-lg p-6 border-l-4 border-blue-500 space-y-4"
  >
    <div>
      <h3 class="text-gray-700 font-semibold">First Name</h3>
      <p class="text-lg text-blue-900">{{ user.first_name }}</p>
    </div>

    <div>
      <h3 class="text-gray-700 font-semibold">Last Name</h3>
      <p class="text-lg text-blue-900">{{ user.last_name }}</p>
    </div>

    <div>
      <h3 class="text-gray-700 font-semibold">Email</h3>
      <p class="text-lg text-blue-900">{{ user.email }}</p>
    </div>

    <div>
      <h3 class="text-gray-700 font-semibold">Phone Number</h3>
      <p class="text-lg text-blue-900">{{ profile.phone }}</p>
    </div>
  </div>
</div>
{% endblock %}
