{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aquabill | Water Billing System</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://res.cloudinary.com/dupynxkci/image/upload/v1747063580/aquabill/henbubsjdbu68biyu2ar.ico"
      type="image/x-icon"
    />
    <link rel="manifest" href="{% url 'manifest' %}" />
    <script src="{% static 'js/serviceworker.js' %}"></script>
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker
          .register("{% static 'js/serviceworker.js' %}")
          .then(function () {
            console.log("Service Worker Registered");
          });
      }
    </script>
    <style>
      body.custom-bg {
        background-image: url("https://res.cloudinary.com/dupynxkci/image/upload/v1747063582/aquabill/pnumauplxokf4ufkkuun.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    </style>
  </head>
  <body class="flex text-gray-800 custom-bg h-auto">
    <main
      class="flex-1 flex items-center justify-center p-6 lg:p-8 pt-8 pb-16 lg:pb-16"
    >
      {% block content %} {% endblock %}
    </main>
  </body>
</html>
